body {
  /*background: url("../img/background.jpg") no-repeat center center fixed;*/
  /*background: url("../img/background1.jpg") no-repeat center center fixed;*/
  /*background: url("../img/background2.jpg") no-repeat center center fixed;*/
  /*background: url("../img/background3.jpeg") no-repeat center center fixed;*/
  background: url("../img/background4.jpeg") no-repeat center center fixed;
  background-size:cover;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.icon1 {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  width: 15%;
  float: left;
  text-align: left;
}

.page-header {
  font-size: 30px;
  text-align: center;
  pointer-events: none;
  cursor: default;
}

h2 {
  text-align: center;
}

.point1 {
  font-weight: bolder;
}

.profpic {
  width: 100%;
  float: left;
}

.educationlist {
  text-align: left;
}

.page-header {
  color: white;
}

.boxed {
  color: white;
}

.row {
  color: white;
}

.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    text-shadow:none;
}

.transbox p{
    margin: 5%;
    color: #000000;
}

.transbox h4{
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
